@import"./components/header";
@import"./components/main";
@import"./components/footer";
@import"./components/main-page";
@import"./components/wu";
@import"./components/header-p";
@import"./components/main-p";
@import"./components/footer-p";

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url('Shrifts\Raleway-Bold.ttf');
  }
  
  @font-face {
      font-family: 'Roboto';
      font-weight: 400;
      src: url('Shrifts\Roboto-Regular.ttf');
  }
  
  @font-face {
      font-family: 'Roboto';
      font-weight: 500;
      src: url('Shrifts\Roboto-Medium.ttf');
  }
  
  @font-face {
      font-family: 'Roboto';
      font-weight: 700;
      src: url('Shrifts\Roboto-Bold.ttf');
  }
  
  @font-face {
      font-family: 'Roboto';
      font-weight: 900;
      src: url('Shrifts\Roboto-Black.ttf');
  }
  
  
  :root {
    --color-black:  #2F303A;
    --color-white-grey:  #F5F4FA;
    --color-white: #FFFFFF;
    --color-light-blue:  #2196F3;
    --color-grey: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}