@import"./components/header";
@import"./components/main-page";
@import"./components/wu";
@import"./components/wdwd";
@import"./components/ot";
@import"./components/rc";
@import"./components/footer";
@import"./components/main-p";
@import"./components/mxins";
@import"./utils/adaptive";


body {
    font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('Shrifts\Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('Shrifts\Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('Shrifts\Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('Shrifts\Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('Shrifts\Roboto-Black.ttf');
}

.section1 {
    align-self: center;
    background-image: url('../images/mainImg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 178px 0;
    justify-content: center;
}

.section2 {
height: auto;
  padding: 50px 0 20px 0;
  
}

.section3 {
  padding-bottom: 50px;
}

.section4 {
  background-color: #F5F4FA;
  padding: 50px 0;
  align-items: center;
}

section {
    display: block;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

div {
    display: block;
}

.section5.container {
    display: flex;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @media (min-resolution: 2x) {
  .section1 {
    background-image: url("../images/mainImg@2.png");
  }
}


@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  justify-self: end;
  color: #fff;
  background-color: transparent;
  border: none;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
