:root {
    --color-black:  #2F303A;
    --color-white-grey:  #F5F4FA;
    --color-white: #FFFFFF;
    --color-light-blue:  #2196F3;
    --color-grey: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Raleway';
  font-weight: 700;
  src: url('Shrifts\Raleway-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('Shrifts\Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('Shrifts\Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('Shrifts\Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('Shrifts\Roboto-Black.ttf');
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}

.li-ot {
    width: 270px;
    border: 1px solid #2195f300;
    border-radius: 10px;
}

.li-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    display: flex;
    padding-bottom: 30px;
    margin-top: 12px;
    animation: li-link 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes li-link {
    0% {
        color: #2196F3;
    }

    100% {
        color: black;
    }
}


.li-link:hover {
    animation: li-link-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes li-link-hover {
    0% {
        color: black;
    }

    100% {
        color: #2196F3;
    }
}

#li-link_active > .li-link::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #2196F3;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
}

#li-link_active > .li-link:hover::after {
    background-color: #2196F3;
    transform: scale3d(1,1,1);
}

.li-link-hover::after {
    transform-origin: 100% 50%;
}

.li-link-hover:hover::after {
    transform-origin: 0 50%;
}

.section1 {
    align-self: center;
    background-image: url('../images/mainImg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px 600px;
    padding: 178px 0;
    justify-content: center;
}

.section2 {
  padding: 50px;
  padding-bottom: 20px;
}

.section3 {
  padding-bottom: 50px;
}

.section4 {
  background-color: #F5F4FA;
  padding: 50px;
  align-items: center;
}

.logo1 {
    color: #2196F3;
    width: 55px;
}

.logo2 {
    width: 78px;
}

section {
    display: block;
}

#main {
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    text-align: center;
    display: flex;
    width: 740px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.ul-navigation {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin: 0;
    padding-top: 20px;
}



.main-list {
    margin: 94px 0 94px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.mail-fig {
    margin: 0;
}

.mail-item h3 {
    font-weight: 700;
    color: rgba(33, 33, 33, 1);
    text-transform: uppercase;
    font-size: 14px;
    list-style: none;
    text-align: left;
    line-height: 1.1;
    margin-top: 15px;
}

.mail-item p {
    color: rgba(117, 117, 117, 1);
    list-style: none;
    font-size: 14px;
    line-height: 1.7;
    width: 270px;
    text-align: left;
    margin-top: 15px;
    letter-spacing: 15%;
}

#one::before {
    content: url('../images/antenna\ 1.png');
    background-color: #F5F4FA;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F4FA;
    border-radius: 6px;
}

#two::before {
    content: url('../images/clock\ 1.png');
    background-color: #F5F4FA;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F4FA;
    border-radius: 6px;
}

#three::before {
    content: url('../images/diagram\ 1.png');
    background-color: #F5F4FA;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F4FA;
    border-radius: 6px;
}

#four::before {
    content: url('../images/astronaut\ 1.png');
    background-color: #F5F4FA;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5F4FA;
    border-radius: 6px;
}

.button {
    color: #FFFFFF;
    width: 216px;
    height: 50px;
    display: flex;
    border-radius: 4px;
    background-color: #2196F3;
    border-color: #2196F3;
    line-height: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

h1 {
    color: white;
}

td {
    color: #757575;
    ;
    font-size: 14px;
    text-align: center;
}

h4 {
    font-size: 15px;
}

.h4Descrip {
    color: grey;
}

.footMailLink {
    color: white;
}

.footTelLink {
    color: white;
}

.footImg {
    text-align: 15px;
}

.footInfo {
    padding-right: 60px;
}

figure {
    background-color: white;
}

footer {
    background-color: #2F303A;
    padding: 55px;
}

.street-foot {
    color: #EEEEEE;
}

.mail-foot,
.phone-foot {
    color: #FFFFFF99;
    opacity: 60%;
}

.mail-foot-link,
.phone-foot-link {
    text-decoration: none;
    color: #FFFFFF99;
    opacity: 60%;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    margin-right: 90px;
    width: 145px;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.footer-logo1 {
    color: #2196F3;
    width: 56px;
}

.footer-logo2 {
    color: #FFFFFF;
    width: 78px;
}

.info-list-foot {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    margin-right: 90px;
    width: 145px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

div {
    display: block;
}

.li-navigation {
    display: flex;
    list-style: none;
    align-items: center;
}

.li-navigation:nth-child(1) {
    width: 145px;
    margin-right: 90px;
}

.li-navigation:nth-child(2) {
    width: 50px;
}

.li-navigation:not(:last-child) {
    margin-right: 50px;
}

.li-navigation:nth-child(4) {
    margin-right: 300px;
}

.ul-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

#first,
#second,
#thierd {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3%;
}

.wdwd {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.name-ot {
    padding: 14px;
    padding-bottom: 10px;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}

.descrip-ot {
    color: #757575;
    font-weight: 400;
    padding: 0 14px 10px 14px;
    margin: 0;
    font-size: 16px;
}

.mail-list {
    justify-content: space-between;
    padding: 0;
}

.wdwd-img {
    width: 370px;
    height: 294px;
}

.img-ot {
    width: 100%;
}

.figure-ot {
    height: 0 auto;
    margin: 0;
    box-shadow: 0px 4px 9px 0px #a09c9c;
    border-radius: 7px;
    overflow: hidden;
}

.figurecaption {
    text-align: center;
}

.ot {
    justify-content: space-between;
    padding: 0;
}

.section-four-link-list {
    display: flex;
    justify-content: space-evenly;
    }

    .section-four-link-item {
    display: inline-block;
    color: #AFB1B8;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 18px;
    height: 18px;
    animation: sec-four-link 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
    }

    @keyframes sec-four-link {
        0% {
            color: #ffffff;
            background-color: #2196F3;
            border-radius: 50%;
        }

        100% {
            border-radius: 50%;
        }
    }
    
    .section-four-link-item:hover{
    animation: sec-four-link-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
    }

    @keyframes sec-four-link-hover {
        0% {
            border-radius: 50%;
        }

        100% {
            color: #ffffff;
            background-color: #2196F3;
            border-radius: 50%;
        }
    }
    
.regular-clients-list {
    display: flex;
    justify-content: space-between;
}

.regular-clients-list {
    flex-basis: 170px;
    display: inline-block;
}

.regular-clients-svg {
    width: 110%;
    height: 110%;
    fill: #AFB1B8;
    animation: cubic 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s alternate both;
}

@keyframes cubic {
    0% {
        fill: #2196F3;
    }

    100% {
        fill: #AFB1B8;
    }
}

.regular-clients-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    animation: bubik 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s alternate both;
}

@keyframes bubik {
    0% {
        border: 1px solid #2196F3;
    }

    100% {
        border: 1px solid #AFB1B8;
    }
}

.regular-clients-link:hover {
    animation: bubik-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s alternate both;
}

@keyframes bubik-hover {
    0% {
        border: 1px solid #AFB1B8;
    }

    100% {
        border: 1px solid #2196F3;
    }
}

.regular-clients-svg:hover {
    animation: cubic-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) alternate both;
}

@keyframes cubic-hover {
    0% {
        fill: #AFB1B8;
    }

    100% {
        fill: #2196F3;
    }
}


.h2-sec5 {
    align-self: center;
    font-size: 36px;
}

.section5 {
    display: flex;
    flex-direction: column;
}
.regular-clients-list {
    display: flex;
    justify-content: center;
}

.regular-clients-item {
    width: 170px;
    height: 92px;
    margin-right: 30px;
}

.regular-clients-item:last-child {
    margin: 0;
}

.info-list-foot-first {
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 1.7;
}

.a-socials {
    text-decoration: none;
    color: white;
    background-color: #FFFFFF1A;
    border: 1px solid #FFFFFF1A;
}

.foot-h6 {
    color: white;
    font-size: 14px;
    margin: 13px 0 24px 0;
}

.foor-h6:nth-child(2) {
    margin-bottom: 14px;
}

.socials {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 190px;
    }
    .a-socials {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: rgba(117, 117, 117, 0.192);
    border: none;
    width: 18px;
    height: 18px;
    animation: socials 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
    }

    @keyframes socials {
        0% {
            background-color: #2196F3;
        
        }

        100% {
            /* ❔ */
        }
    }
    
    .a-socials:hover{
    animation: socials-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
    }

    @keyframes socials-hover {
        0% {
        /* ❔ */
        }

        100% {
            background-color: #2196F3;
        }
    }

.li-wdwd {
    position: relative;
}
.wdwd-img {
    display: block;
}
.wdwd-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #2F303ACC;
    color: white;
    padding: 20px 0 20px 0;
    margin: 0;
}

.icon-envelope-hover,
.icon-smartphone {
    margin-right: 10px;
}

.icon-envelope-hover {
    font-size: 12px;
}

.header_container {
    height: 66px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1),
    visibility 500ms cubic-bezier(0.83, -0.08, 0.32, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    padding: 15px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 #00000033;
    transform: translate(-50%, -50%);
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1);
}

.btn {
    position: relative;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: 1px solid #0000001A;
    top: -1%;
    left: 96%;
    animation: btn 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes btn {
    0% {
        color: #2196F3;
        border: 1px solid #2196F3;
    }

    100% {
        
    }
}

.btn::before {
    content: '⨉';
}

.btn:hover {
    animation: btn-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes btn-hover {
    0% {

    }

    100% {
        color: #2196F3;
        border: 1px solid #2196F3;
    }
}

.form-title {
    color: black;
    font-size: 20px;
    margin-bottom: 2px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.the_power-of_friendship {
    margin-top: 10px;
    width: 447.986;
    height: 55.781;
}

.form-input_holder {
    
    display: flex;
    width: 448px;
    height: 40px;
}

.form-input_holder:focus-within {
    color: #2196F3;
}

.form-input {
    position: static;
    width: 448px;
    height: 40px;
    outline: 1px solid #21212133;
    border: none;
    border-radius: 5px;
    padding-left: 35px;
}

.icon-Vector,
.icon-Vector-1,
.icon-Vector-2 {
    display: flex;
    position: relative;
    top: 12px;
    left: 10px;
    width: 0;
    height: 0;
}

.icon-Vector-1 {
    font-size: 18px;
}

.icon-Vector:focus-within .form-input-one {
    color: #2196F3;
}

.icon-Vector-1:focus-within .form-input-two {
    color: #2196F3;
}

.icon-Vector-2:focus-within .form-input-three {
    color: #2196F3;
}

textarea.form-input  {
    padding: 6px;
    width: 436px;
    height: 108px;
    position: static;
}

.h6 {
    margin: 0 0 2px 0;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
}

.terms {
    color: #2196F3;
}

.terms-holder {
    display: flex;
}

.checkbox {
    margin-right: 5px;
}

.form-btn {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #2196F3;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 #00000025;
}

.footer-form-input {
    outline: 1px solid #FFFFFF4D;
    background-color: #2F303A;
    box-shadow: 0 4px 4px 0 #00000026;
    width: 358px;
    height: 47px;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    color: white;
}

.footer-form-input:focus {
    outline: 1px solid #2196F3;
}

.subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: none;
    background-color: #2196F3;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 #00000026;
}

.send {
    position: relative;
    left: 1100px;
    bottom: 80px;
    background-color: #00000000;
    border: none;
    padding: 0;
    overflow: visible;
}

.send:hover {
    cursor: help;
}

.send:active {
    animation: secret 10s 1s ease both;
    border: none;
}

@keyframes secret {
    0% {
        top: -80px;
        right: 0;
        bottom: 0;
        left: 1100px;
    }

    2% {
        transform: scale(1.3) rotate(-40deg);
        top: -110px;
        right: 0;
        bottom: 0;
        left: 1170px;
    }

    3% {
        transform: scale(1.7) rotate(-90deg);
        top: -159px;
        right: 0;
        bottom: 0;
        left: 1150px;
    }

    5% {
        transform: scale(2.3) rotate(-130deg);
        top: -174px;
        right: 0;
        bottom: 0;
        left: 1120px;
    }

    8% {
        transform: scale(2.8) rotate(-200deg);
        top: -127px;
        right: 0;
        bottom: 0;
        left: 1090px;
    }

    11% {
        transform: scale(3.4) rotate(-270deg);
        top: -105px;
        right: 0;
        bottom: 0;
        left: 1170px;
    }

    15% {
        transform: scale(3.6) rotate(-320deg);
        top: -126px;
        right: 0;
        bottom: 0;
        left: 1209px;
    }

    20% {
        transform: scale(4) rotate(-340deg);
        top: -150px;
        right: 0;
        bottom: 0;
        left: 1300px;
        opacity: 1;
        font-size: 20px;
        background-image: none;
    }

    40% {
        transform: scale(6) rotate(-430deg);
        top: -170px;
        right: 0;
        bottom: 0;
        left: 1313px;
        opacity: 0;
        background-image: url('/Hutcherson.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 0;
    }

    50% {
        transform: scale(4) rotate(-500deg);
        top: -200px;
        right: 0;
        bottom: 0;
        left: 940px;
    }

    93% {
        background-image: url('/Hutcherson.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        top: -200px;
        left: 1040px;
        width: 20px;
        height: 20px;
    }

    99% {
        background-image: url('/Hutcherson.jpg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        font-size: 0;
        top: -200px;
        left: 1040px;
        opacity: 0;
        width: 20px;
        height: 20px;
        width: 100px;
        height: 100px;
    }

    100% {
        
        opacity: 1;
        top: -200px;
        left: 1040px;
    }
}

.footer-form-wrap {
    display: flex;
    justify-content: space-between;
    width: 587px;
}

.footer-form-input_holder {
    width: 367px;
}

.form-input:focus {
    outline: 1px solid #2196F3;
}

