.footMailLink {
    color: white;
}

.footTelLink {
    color: white;
}

.footImg {
    text-align: 15px;
}

.footInfo {
    padding-right: 60px;
}

footer {
    background-color: #2F303A;
    padding: 55px;
}

.street-foot {
    color: #EEEEEE;
}

.mail-foot,
.phone-foot {
    color: #FFFFFF99;
    opacity: 60%;
}

.mail-foot-link,
.phone-foot-link {
    text-decoration: none;
    color: #FFFFFF99;
    opacity: 60%;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    margin-right: 90px;
    width: 145px;
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.footer-logo1 {
    color: #2196F3;
    width: 56px;
}

.footer-logo2 {
    color: #FFFFFF;
    width: 78px;
}

.info-list-foot {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

.info-list-foot-first {
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 1.7;
}

.a-socials {
    text-decoration: none;
    color: white;
    background-color: #FFFFFF1A;
    border: 1px solid #FFFFFF1A;
}

.foot-h6 {
    color: white;
    font-size: 16px;
    margin: 13px 0 24px 0;
}

.foor-h6:nth-child(2) {
    margin-bottom: 14px;
}

.socials {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 190px;
    }
    .a-socials {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: rgba(117, 117, 117, 0.192);
    border: none;
    width: 18px;
    height: 18px;
    animation: socials 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
    }

    @keyframes socials {
        0% {
            background-color: #2196F3;
        
        }

        100% {
            /* ❔ */
        }
    }
    
    .a-socials:hover{
    animation: socials-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
    }

    @keyframes socials-hover {
        0% {
        /* ❔ */
        }

        100% {
            background-color: #2196F3;
        }
    }

    .footer-form-input {
        outline: 1px solid #FFFFFF4D;
        background-color: #2F303A;
        box-shadow: 0 4px 4px 0 #00000026;
        width: 358px;
        height: 47px;
        border: none;
        border-radius: 5px;
        padding-left: 15px;
        color: white;
    }
    
    .footer-form-input:focus {
        outline: 1px solid #2196F3;
    }
    
    .subscribe {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 50px;
        border: none;
        background-color: #2196F3;
        border-radius: 5px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 0 4px 4px 0 #00000026;
        padding-right: 35px;
    }
    
    .send {
        position: relative;
        left: 1086px;
        bottom: 80px;
        background-color: #00000000;
        border: none;
        padding: 0;
        overflow: visible;
    }
    
    .send:hover {
        cursor: help;
    }
    
    .send:active {
        animation: secret 10s 1s ease both;
        border: none;
    }
    
    @keyframes secret {
        0% {
            top: -80px;
            right: 0;
            bottom: 0;
            left: 1086px;
        }
    
        2% {
            transform: scale(1.3) rotate(-40deg);
            top: -110px;
            right: 0;
            bottom: 0;
            left: 1170px;
        }
    
        3% {
            transform: scale(1.7) rotate(-90deg);
            top: -159px;
            right: 0;
            bottom: 0;
            left: 1150px;
        }
    
        5% {
            transform: scale(2.3) rotate(-130deg);
            top: -174px;
            right: 0;
            bottom: 0;
            left: 1120px;
        }
    
        8% {
            transform: scale(2.8) rotate(-200deg);
            top: -127px;
            right: 0;
            bottom: 0;
            left: 1090px;
        }
    
        11% {
            transform: scale(3.4) rotate(-270deg);
            top: -105px;
            right: 0;
            bottom: 0;
            left: 1170px;
        }
    
        15% {
            transform: scale(3.6) rotate(-320deg);
            top: -126px;
            right: 0;
            bottom: 0;
            left: 1209px;
        }
    
        20% {
            transform: scale(4) rotate(-340deg);
            top: -150px;
            right: 0;
            bottom: 0;
            left: 1300px;
            opacity: 1;
            font-size: 20px;
            background-image: none;
        }
    
        40% {
            transform: scale(6) rotate(-430deg);
            top: -170px;
            right: 0;
            bottom: 0;
            left: 1313px;
            opacity: 0;
            background-image: url('/Hutcherson.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            font-size: 0;
        }
    
        50% {
            transform: scale(4) rotate(-500deg);
            top: -200px;
            right: 0;
            bottom: 0;
            left: 940px;
        }
    
        93% {
            background-image: url('/Hutcherson.jpg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            top: -200px;
            left: 1040px;
            width: 20px;
            height: 20px;
        }
    
        99% {
            background-image: url('/Hutcherson.jpg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            font-size: 0;
            top: -200px;
            left: 1040px;
            opacity: 0;
            width: 20px;
            height: 20px;
            width: 100px;
            height: 100px;
        }
    
        100% {
            
            opacity: 1;
            top: -200px;
            left: 1040px;
        }
    }
    
    .footer-form-wrap {
        display: flex;
        justify-content: space-between;
        width: 587px;
    }
    
    .footer-form-input_holder {
        width: 367px;
    }
    
    .form-input:focus {
        outline: 1px solid #2196F3;
    }
    
    