header .container {
  height: 80px;
  display: flex;
  align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    gap: 15px;
}

.li-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    display: flex;
    animation: li-link 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes li-link {
    0% {
        color: #2196F3;
    }

    100% {
        color: black;
    }
}


.li-link:hover {
    animation: li-link-hover 250ms cubic-bezier(0.4, 0, 0.2, 1) both;
}

@keyframes li-link-hover {
    0% {
        color: black;
    }

    100% {
        color: #2196F3;
    }
}

#li-link_active > .li-link::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -32px;
    background-color: #2196F3;
    transition: 0.5s transform ease;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
}

#li-link_active > .li-link:hover::after {
    background-color: #2196F3;
    transform: scale3d(1,1,1);
}

.navigation__li-hover::after {
    transform-origin: 100% 50%;
}

.navigation__li-hover:hover::after {
    transform-origin: 0 50%;
}

.header__logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  width: 145px;
  display: flex;
  flex-direction: row;
}

.header__logo1 {
    color: #2196F3;
    width: 55px;
}

.header__logo2 {
    width: 78px;
}

.navigation__ul {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin: 0;
    list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 80%;
}


.navigation__li {
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation__li:nth-child(3) {
    margin-right: 20%;
}

#first,
#second,
#thierd {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 3%;
}

.icon-envelope-hover,
.icon-smartphone {
    margin-right: 10px;
}

.icon-envelope-hover {
    font-size: 12px;
}


.underline {
    border-bottom: 1px solid #ECECEC;
}

.burger_adaptation {
  display: none;
}

  /* nav-menu */
  nav {
      width: 93%;
  }
    .navigation__ul a,
    .join_block {
      font-weight: 400;
    }
    input[type="checkbox"],
    .burger {
      display: none;
    }
  
    /* mobile menu */
    @media (max-width: 768px) {
      nav {
        order: 1;
      }
      .burger {
        display: block;
        height: 30px;
        width: 30px;
        position: relative;
      }
      .burger:hover {
        cursor: pointer;
      }
      .burger span {
        top: 15px;
      }
      .burger span,
      .burger span::before,
      .burger span::after {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: #333;
        position: absolute;
        right: 0;
        transition: .3s;
      }
      .burger span::before {
        top: -8px;
      }
      .burger span::after {
        top: 8px;
      }
      .navigation__ul {
        display: none;
      }
      input[type="checkbox"]:checked ~ .navigation__ul{
        display: flex;
        flex-direction: column;
      }
      input[type="checkbox"]:checked ~ .burger span {
        transform: rotate(-45deg);
      }
      input[type="checkbox"]:checked ~ .burger span::before {
        top: 0;
        transform: rotate(0);
      }
      input[type="checkbox"]:checked ~ .burger span::after {
        top: 0;
        transform: rotate(90deg);
      }
      .navigation__ul {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        box-shadow: 0 12px 8px #ececec;
        align-items: start;
        padding: 35px 0 0 40px;
      }

      .navigation__li {
        height: 40px;
        font-size: 40px;
      }


    }