.wdwd {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.wdwd-img {
    width: 370px;
    height: 294px;
}

.img-ot {
    width: 100%;
}

.li-wdwd {
    position: relative;
}
.wdwd-img {
    display: block;
}
.wdwd-desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #2F303ACC;
    color: white;
    padding: 20px 0 20px 0;
    margin: 0;
}
